/*FONTS*/
@font-face{
	font-family: "Lato";
	src: url("fonts/Lato-Light.ttf");
	font-weight: 300;
}

@font-face{
  font-family: "Lato";
  src: url("fonts/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
	font-family: "Lato";
	src: url("fonts/Lato-Regular.ttf");
	font-weight: 400;
}
@font-face{
  font-family: "Lato";
  src: url("fonts/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face{
	font-family: "Lato";
	src: url("fonts/Lato-Bold.ttf");
	font-weight: 600;
}

@font-face{
	font-family: "OpenSans";
	src: url("fonts/OpenSans-Light.ttf");
	font-weight: 300;
}

@font-face{
	font-family: "OpenSans";
	src: url("fonts/OpenSans-Regular.ttf");
	font-weight: 400;
}

@font-face{
	font-family: "OpenSans";
	src: url("fonts/OpenSans-Bold.ttf");
	font-weight: 600;
}

/*UNIVERSAL TEMPLATE*/

button {
  outline: none !important; 
}
input, textarea{
  outline:none !important;
}
.row{
  display:block;
}


h1{
	font-family: "Lato";
	font-weight: 600;
  margin:0px !important;
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover, a:active{
    color:white;
    text-decoration:none;
    cursor:pointer;
}

.graybg{
  background-color:#F5F5F5;
}

.maincontent{
  width:100%;
  padding-left:10%;
  padding-right: 10%
}

#mobileNav{
  display:none;
  width:50%;
  height:1000px;
  background-color:
  rgba(0,0,0,0.8);
  position: absolute;
  top:0px;
  z-index:4567;
  height:100%;
}

.mobilehom{
  font-family: 'OpenSans';
  padding-left: 15px;
  font-weight: 800;
  padding-top:15px;
  display: block;
  color:white;
  text-decoration: none;
  font-size: 32px
}

#threebar{
  display: none;
}

.navbarpage{
  padding-top:30px;
  z-index: 500;
  height:80px;
  width: 100%;
  transition: all 0.5s ease-out;
  background-color: rgba(0,145,234,1);
}
.navbarpage>.navbarmob>ul{
  text-decoration:none;
  list-style: none;
  margin: 0;
  margin-top:0px;
  margin-right: 10px;
  padding: 0;
  color: white;
  font-family: 'Lato';
  font-weight:600;
  font-size: 16px;

}
.navbarpage>.navbarmob>ul>li{
float:right;
  display: inline;
  margin: 0px 0px 0px 0px;
  
}
.navbarpage>.navbarmob>ul>li>a{
  padding:20px;
}

.navbarpage>.navbarmob>ul>li>a:hover{
  background-color: rgba(0,0,0,0.4);
  transition: 0.5s all;
  cursor: pointer;
}

.navbarpage>.navbarmob>ul>li>a{
  text-decoration:none;
  color:white;
  transition: all 0.5s
}

.active{
	background-color: rgba(0,0,0,0.2);
}

/*FOOTER*/
.footer{
      float:left;
      margin-top:80px;
      width:100%;
      background-color:rgba(1,1,1,0.8);
      height:120px;
    }


.btnholder{
  padding-top:25px;
}

.footerbtn {
  color:white;
  font-family: 'Lato';
  font-weight:600;
  font-size: 15px;
  display:inline-block;
  padding:10px 15px 10px 15px;
  transition: 0.5s all;
}

.footerbtn:hover {
  background-color:rgba(1,1,1,0.9);
  transition: 0.5s all;
}

.copyright{
  font-family: "open sans";
  font-weight:300;
  color:white;
  opacity:0.4;
}




/*HOME PAGE */
.homebg{
	width:100%;
	height:600px;
	background-image:url("http://img02.deviantart.net/70b2/i/2013/126/a/a/dusk_on_mountains_stock_by_leeorr_stock-d64an76.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
  z-index: 500;
  width: 100%;
  transition: all 0.5s ease-out;
}
.navbar>ul{
  text-decoration:none;
  list-style: none;
  margin: 0;
  margin-top:30px;
  margin-right: 10px;
  padding: 0;
  color: white;
  font-family: 'Lato';
  font-weight:600;
  font-size: 16px;

}
.navbar>ul>li{
float:right;
  display: inline;
  margin: 0px 0px 0px 0px;
  
}
.navbar>ul>li>a{
  padding:20px;
}

.navbar>ul>li>a:hover{
  background-color: rgba(0,0,0,0.4);
  transition: 0.5s all;
  cursor: pointer;
}

.navbar>ul>li>a{
  text-decoration:none;
  color:white;
}

.foundation{
  /*background-color: rgba(255,255,255,0.6);
  width:60%;
  margin-top:160px;
  padding:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;*/
  margin-top:80px;
  width:800px;
  padding:60px;
  padding-top:80px;
  border: solid 4px rgba(255,255,255,1);
}

.hometitle{
  font-size: 62px;
  vertical-align: middle;
  color:rgba(255,255,255,1);
}

.homecont{
  color:white;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 300;
  margin-top:;
}

.branchtitle{
  padding:80px;
}

.branchcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:40px;
  font-family: "Lato";
}

.bratit{
  font-weight: 800;
  font-size: 32px
}

.bluehr{
  border-color: rgba(0,145,234,0.6);
  border-width: 2px
}

/* MARKETING PAGE */

.wrapper { 

  overflow:hidden;
}

.wrapper div {
  margin-top:100px;

}
#one {
  background-color: white;
  float:left; 
  width:100%;
  padding:50px;
}
#two { 
  background-image: url("https://ak.picdn.net/assets/cms/21c3901c18b5824f76305971fcf2cf030f1a89e7-stock-vector-elephant-flat-icon-318716621.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  height:500px;
}

.missiondesc{
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 200%;
  color: rgba(1,1,1,0.87)
}

.branchcol{
  

  margin-top:50px;
}

.blue{
  background-color: rgba(0,145,234,1);
  width:100%;
  height:10px;
}

.branchone{
  background-image:url("https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height:300px;
}

.fremont{
  background-image:url("https://images1.apartments.com/i2/Gr0uBRVE43zqJMdfQdoupeNhsRPfv8a3Fhg6REEWEB0/110/fremont-ca-city-profile-image.jpg");
}
.sanramon{
  background-image:url("https://www.uniquevenues.com/sites/uniquevenues.com/files/imagecache/2015_venue_flexslider/venues/slideshow/_DSF4818-1.jpg");
}
.palo{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/f/f3/Wfm_palo_alto.jpg");
}
.sanjose{
  background-image:url("http://media.istockphoto.com/photos/downtown-san-jose-california-in-silicon-valley-picture-id172279549?k=6&m=172279549&s=612x612&w=0&h=QBQPDDBz6hEp7YhSrdFMjc6YjX3kYv6tUE9l84AJtt8=");
}

.branchcontent{
  padding:50px;
  background-color:white;
}

.border{
  width:40%;
  border-width:3px;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;   
  }
}


/* CONFERENCE PAGE */
.conferenceimg{
  background-image: url("https://thenextweb.com/wp-content/blogs.dir/1/files/2015/04/businessstartup.jpg");
  background-size: cover;
  background-position: 50% 100%;
  height:400px;
  margin-top:40px;
}

.icon{
  background-size: cover;
  height:80px;
  width:80px;
}

.about{
  background-image: url(img/info.png);
}

.time{
  background-image: url(img/clock.png)
}
.blueborder{
  border-color:rgba(0,145,234,1);
  width:40%;
  border-width:2px;
}

.centerholder{
  background-color:white;
  padding:50px;
}

.conference{
  margin-top:80px;
}

.carheight{
  height:580px !important;
  width:auto;
}

#myCarousel{
  width:860px;
  margin-top:80px;
}

.officerlistcon{
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 200%;
}

/* CONTACT PAGE */

.contactpage{
  margin-top:80px;
}
.conthead{
  font-size: 46px
}

.inputhead{
  font-family: "OpenSans";
  font-weight: 800;
  color:black;
  font-size: 16px;
}

.formfill{
  width:100%;
  padding:14px;
  background-color:rgba(0,0,0,0.06);
  border:none;
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 18px;
  resize:vertical;
}

.textarea{
  width:100%;
}

.submit{
  float:right;
  padding:15px 30px 15px 30px;
  border:none;
  color:white;
  font-family: "OpenSans";
  font-weight: 800;
  background-color: rgba(0,145,234,1);
  border-radius: 2px;
  margin-top:22px;
  width:160px;
}

.bluebord{
  border-color:  rgba(0,145,234,0.6);
  width:40%;
  border-width: 4px
}

/*INCUBATOR PAGE*/
.qholder{
  background-color:#2196F3;
  text-align: center;
  color:white;
}

#nopaddingright{
  padding-right: 0px !important
}

.qanswer{
  background-color:white;
  padding:50px;
}

.nopadding{
  padding-left:0px;
}

.firsthalf{
  height:calc(45%);
}

/*NEWSPAPER PAGE*/
.contentsec{
  background-color:white;
  padding:50px;
  border-bottom:4px rgba(0,145,234,0.6) solid;
}

.officerlist{
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
}

.postlabel{
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  opacity:0.54;
}

.post{
  color: white;
  border-radius: 4px;
  border: #00B0FF solid 2px;
  width:100%;
  text-align: left;
  background-color:#00B0FF;
  padding:20px 30px 20px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 16px;
  margin-bottom:15px;
  transition: 0.3s all;
}

.post:hover{
  color:#00B0FF;
  background-color: white;
  transition: 0.3s all;
}

.whitebg{
  background-color: white;
  padding:80px;
}

.shawn{
  background-image: url("img/shawn.png");
}

.dani{
  background-image: url("img/dani.png");
}

.jocelyn{
  background-image: url("img/jocelyn.png");
}

.jack{
  background-image: url("img/jack.png");
}

.jessica{
  background-image: url("img/jessica.png");
}

.advait{
  background-image: url("img/advait.png");
}

.sabrina{
  background-image: url("img/sabrina.png");
}

.meghana{
  background-image: url("img/meghana.png");
}

.grace{
  background-image: url("img/grace.png");
}
.teamimg{
  width:100%;
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.officername{
  font-family: "Lato";
  font-weight: 800;
  color:#00B0FF;
  font-size: 20px;
}

.officerrole{
  font-family: "Lato";
  font-weight: 800;
  color:#424242;
  font-size: 15px
}

.officerdesc{
  font-family: "Lato";
  font-weight: 300;
  color:#424242;
  font-size: 16px
}

.padding{
  padding:30px;
}


/* MOBILE STYLING */

@media (max-device-width: 768px) {
  
 
  #threebar{
      width:10%;
      display: block;
      background:transparent;
      font-size:250%;
      text-align: center;
  }

  .navbarmob{
    display:none;
  }

  .homebg{
    
  }

  .foundation{
    margin-top:0px;
  }

  .navbarpage{
    padding-top:0px;
  }

  #myCarousel{
    width:300px;
    height:202px;
  }
  .carousel-inner{
    width:300px;
    height:202px;
  }

  .carheight{
    height:202px !important;
  }
}
@media (max-device-width: 990px) {
  .col-md-6{
    margin-top:60px !important;
  }

  .col-md-5{
    margin-top:60px !important;
  }

  .nomargin{
    margin-top:0px !important;
  }

  #nopaddingright{
    padding-right: 15px !important;
  }

  #qa1{
    padding-left: 15px !important;
  }

  #nomargintop{
    margin-top:0px !important;
  }
}




